In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers 
from tensorflow.keras.layers.experimental import preprocessing

In [26]:
df = pd.read_excel(r"/content/ANZ synthesised transaction dataset (2).xlsx")
df.head()

       status  card_present_flag  ... merchant_long_lat movement
0  authorized                1.0  ...     153.38 -27.99    debit
1  authorized                0.0  ...     151.21 -33.87    debit
2  authorized                1.0  ...     151.21 -33.87    debit
3  authorized                1.0  ...     153.05 -26.68    debit
4  authorized                1.0  ...     153.44 -28.06    debit

[5 rows x 23 columns]

In [27]:
df_salaries = df[df["txn_description"]=="PAY/SALARY"].groupby("customer_id").mean()
df_salaries.head()

                card_present_flag  merchant_code       balance  age   amount
customer_id
CUS-1005756958                NaN            0.0   4718.665385   53   970.47
CUS-1117979751                NaN            0.0  11957.202857   21  3578.65
CUS-1140341822                NaN            0.0   5841.720000   28  1916.51
CUS-1147642491                NaN            0.0   8813.467692   34  1711.39
CUS-1196156254                NaN            0.0  23845.717143   34  3903.73

In [ ]:
salaries = []

for customer_id in df["customer_id"]:
    salaries.append(int(df_salaries.loc[customer_id]["amount"]))
    
df["annual_salary"] = salaries

In [ ]:
df_cus = df.groupby("customer_id").mean()
df_cus.head()
df_cus.drop(columns='merchant_code', inplace= True)
df_cus.head()

                card_present_flag       balance  age      amount  annual_salary
customer_id
CUS-1005756958           0.812500   2275.852055   53  222.862603            970
CUS-1117979751           0.826923   9829.929000   21  339.843700           3578
CUS-1140341822           0.815385   5699.212250   28  212.632500           1916
CUS-1147642491           0.750000   9032.841186   34  245.600169           1711
CUS-1196156254           0.785276  22272.433755   34  147.145796           3903

# **Predictive Analytics**

In [ ]:
N_train = int(len(df_cus)*0.8)
X_train = df_cus.drop("annual_salary", axis=1).iloc[:N_train]
Y_train = df_cus["annual_salary"].iloc[:N_train]
X_test = df_cus.drop("annual_salary", axis=1).iloc[N_train:]
Y_test = df_cus["annual_salary"].iloc[N_train:]

In [32]:
reg = LinearRegression()
reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
reg.predict(X_test)

array([1993.98473311, 2867.39066481, 1944.95959591, 1806.85984885,
       2226.35045442, 2075.34697175, 1813.02987337, 5388.67435983,
       1902.35351608, 2191.90445145, 1713.48134178, 2854.40519949,
       2094.77781158, 3815.34342881, 2249.92922822, 1768.80816189,
       2095.02988288, 1515.18425875, 1782.72752537, 2481.2898546 ])

In [33]:
reg.score(X_train, Y_train)

0.23295376366257825